.active-link {
  color: red !important;
  text-decoration: none !important;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 30px;
  background-color: #ede0d3;
  text-align: center;
  line-height: 30px;
}
